[2018-04-02 10:30] xiongdemao opened #1 "Part 4. Depth and odometry"
thanks for your release code!
wen i run the fellow code with Part 3. Depth
[code]
it happen some error ：
[code]
by the way ，can i have a question about how to “Remember to enable Python Layers in the Caffe configuration.” in ”Part 1. Requirements“

[2018-04-02 13:26] xiongdemao opened #2 "Check failed: false Unknown filler name: EdgeX"
Part 4. Depth and odometry
Run
[code]
get ：
[code]
I check the 'train.prototxt'file，I find
[code]
but there seem no “EdgeX”

[2018-04-03 13:31] Huangying-Zhan commented on #2
Hi @xiongdemao, thanks for pointing out the issue. I have added filler.hpp which includes "EdgeX" and "EdgeY".

[2018-04-03 14:01] Huangying-Zhan commented on #1
Hi @xiongdemao , For the python layer issue, I mean that you need to uncomment "WITH_PYTHON_LAYER := 1" in your Makefile.config to enable Python Layers. Here is an example of Caffe's python layer usage: https://github.com/NVIDIA/DIGITS/tree/master/examples/python-layer

For the error related to "GeoTransform" layer, it looks like you haven't added the caffe layers provided in this repo to your caf

[2018-04-08 07:50] xiongdemao commented on #1
add
[code]
in caffe.proto. like this,is not anthing in the
[code]
?

[2018-04-08 23:37] Huangying-Zhan commented on #1
@xiongdemao you don't need to add the layers in caffe.proto since the layers do not contain parameters (e.g. in Conv layer, you need to specify strides / filter size). I mean you need to put my layers (.cu & .cpp) in your "caffe/src/caffe/layers/" and .hpp files in "caffe/include/caffe/layers/". Just like the directory I used in this repo. After putting the layers in your Caffe. You need to recomp

[2018-04-10 06:07] xiongdemao opened #3 "does not support CLI Multi-GPU ?"
[code]
wen GPU = 0,1
[code]
 does not support CLI Multi-GPU ?

[2018-04-10 06:10] xiongdemao commented on #1
oh!that's ok,thank you!

[2018-04-10 11:44] xiongdemao opened #4 "error: (-215) ssize.area() > 0 in function resize"
**Visual Odometry**
To generate the odometry predictions (relative camera motions), run the following script.
[code]
[code]

[2018-04-10 11:52] Huangying-Zhan commented on #3
Sorry, the python layer in Caffe doesn't support multi-gpu, I am working on the cuda/c++ version of the layer. I will upload it once it is done.

[2018-04-10 11:53] #1 closed

[2018-04-10 12:14] Huangying-Zhan commented on #4
@xiongdemao could you check whether the img path is correct or not? if the path is incorrect, the img might be null and report an error while resizing.
Could you add a line after line 123 to check whether the img is read successfully?
`assert img!=None, "Image reading error. Check whether your image path is correct or not."`

If this is the case, please double check your image path.

[2018-04-10 13:52] xiongdemao commented on #4
HI!I check file "evaluation_tools.py" again ,but there isn't " img_path" in the class " kittiPredOdom():"
[code]

[2018-04-10 14:15] xiongdemao commented on #4
I find the reason,thank you !!!

[2018-04-10 14:15] #4 closed

[2018-04-19 07:27] su1266 opened #5 "what is your numpy verion please"
I met a problem,could you tell me your numpy version?

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb
ImportError: numpy.core.multiarray failed to import

[2018-04-19 10:50] Huangying-Zhan commented on #5
Hi @su1266 , my numpy version is 1.11.3

[2018-05-07 14:13] WZYSilverWing opened #6 "How to solve this problem"
when running the depth train, meet this problem. what is pygeometry?
![0](https://user-images.githubusercontent.com/23632462/39706354-bd6b8f2c-5243-11e8-8645-f81c9245d434.png)

[2018-05-08 00:45] Huangying-Zhan commented on #6
Hi @WZYSilverWing , you need to add the python layer into your caffe/python and also enable python layer in Makefile.config.

[2018-05-10 02:12] WZYSilverWing opened #7 "about Trajectories"
I know it is a silly question, but after I trained the model and get the test output, how can I get the Trajectories? Thank you!

[2018-05-10 03:37] Huangying-Zhan commented on #7
Hi @WZYSilverWing No worries! The idea in this work is a simple two-view relative camera pose estimation. Basically, you need to convert/accumulate the relative camera poses into camera poses in world coordinate system. The camera poses (under world coordinate system) form the trajectory.
For implementation, you can refer to `kittiPredOdom.SE3_cam2world ()` in`tools/evaluation_tools.py`, which con

[2018-05-10 03:38] #6 closed

[2018-05-10 07:51] WZYSilverWing commented on #7
@Huangying-Zhan thank you!

[2018-05-11 01:16] WZYSilverWing opened #8 "when run ./experiments/depth_odometry_feature/train.sh"
in ./experiments/depth_odometry_feature/train.sh, it requires Weerasekera_nyu.caffemodel, where can I dowload this caffe model? thank you!

[2018-05-11 01:55] Huangying-Zhan commented on #8
Hi @WZYSilverWing , the model is not yet released. The model is trained from this paper, [Weerasekera et al.](https://arxiv.org/abs/1711.05919 ). I will post a link to the model later.
If you want to use the feature construction loss, please try the `KITTI_feat.caffemodel` for now. Sorry for the inconvenience caused.

[2018-05-11 02:04] WZYSilverWing commented on #8
thank you so much!

[2018-05-11 02:04] #8 closed

[2018-05-12 01:07] WZYSilverWing opened #9 "when run the depth evaluation"
Sorry to bother again, but how to handle this when run the evaluation_tool.py? thank you!

![7qam 3wat2qg8f817sq6 dw](https://user-images.githubusercontent.com/23632462/39952107-b7446816-55c3-11e8-850a-f9a7c4a550f5.png)

[2018-05-12 01:43] WZYSilverWing commented on #9
sorry I know it. Wrong file path

[2018-05-12 01:43] #9 closed

[2018-05-12 01:46] WZYSilverWing opened #10 "get depth-prediction"
![0](https://user-images.githubusercontent.com/23632462/39952427-26105c0a-55c9-11e8-9c62-6f57026dfd8b.png)

Sorry to bother you. How to solve this when run the depth evaluation? Thank you!

[2018-05-12 04:42] Huangying-Zhan commented on #10
Hi @WZYSilverWing , I think it is because of the incorrect `img_path`. Please check the `img_path`. I will update my code to have a warning regarding the issue.

Just updated the `tools/evaluation_tools.py`. Please try again the evaluation

[2018-05-12 06:53] WZYSilverWing commented on #10
Solved. Thank U so much.

[2018-05-12 06:53] #10 closed

[2018-05-12 12:13] #3 closed

[2018-05-14 23:16] Huangying-Zhan opened #11 "tmp"
https://drive.google.com/open?id=11EKxG7WmHhrOgdkpuuGArSOEqpfy0w5I5I0BOtZN6QI

[2018-05-14 23:19] Huangying-Zhan commented on #11
KJ
https://docs.google.com/presentation/d/1XKGuw9UY4lh7mKRxk5nFB3MkSEH9URt81efzm0p6kz4/edit?usp=sharing

[2018-05-14 23:19] #11 closed

[2018-05-15 03:00] WZYSilverWing opened #12 "about plot error"
I want to draw the plot error figure, but when I use the evaluation_tool, it turns out to be like this, how to solve this? thank you!
![0](https://user-images.githubusercontent.com/23632462/40034360-2ecc618c-582f-11e8-9993-a21d8e7f0e8b.png)

[2018-05-16 12:06] Huangying-Zhan commented on #12
Hi @WZYSilverWing, the plot_error function is not really ready to use.
However, as you can see that, there is `IndexError`, it is about accessing `avg_segment_errs[lens_][0]`. Could you try to print out avg_segment_errs for this sequence? I guess there is something wrong with the `avg_segment_errs`. It might be empty in your case.

[2018-05-17 06:03] WZYSilverWing commented on #12
OK, I'll try it. Thank you!

[2018-05-17 06:03] #12 closed

[2018-06-13 02:55] JingyuChan opened #13 "About back-propagation of geometry transformation layer"
I have a question about the back-propagation process in the geometry transformation layer. The derivative dX_dD in line 111 in geometry_transformation.cu is wrote as "dX_dD = trans_off[0] * base_X + trans_off[1] * base_Y + trans_off[2]". In my opinion, "X = trans_off[0] * base_X + trans_off[1] * base_Y + trans_off[2] * D + trans_off[3]", so the derivative of D is "dX_dD = trans_off[2]". Since the

[2018-06-13 06:10] Huangying-Zhan commented on #13
Hi @JingyuChan, Thanks for your question.
transformed_X
= trans_off[0] * old_X + trans_off[1] * old_Y + trans_off[2] * old_Z + trans_off[3]
= trans_off[0] * (base_X * D) + trans_off[1] * (base_Y * D)  + trans_off[2] * D + trans_off[3]
where,
old_X = [(x-c_x)/f_x] * D = base_X * D
old_Y = [(y-c_y)/f_y] * D = base_Y * D

Therefore, d(transformed_X)/d(D) = trans_off[0] * (base_X ) + trans_off[1] * (b

[2018-06-13 07:31] JingyuChan commented on #13
@Huangying-Zhan Thank you so much! I made a mistake to neglect the difference between base_X and old_X. And I'm sorry to bother you with my careless. Thanks again for solving my problem!

[2018-06-13 13:22] Huangying-Zhan commented on #13
@JingyuChan No worries. That could also be my problem as well. I didn't make too much comment on my script.

[2018-06-13 13:22] #13 closed

[2018-07-08 07:09] hyaihjq opened #14 "when i run the comand “make runtest”,i meet this error, i have added the required layers in ./caffe into my own Caffe"
F0708 06:35:00.978440 12323 blob.hpp:140] Check failed: num_axes() <= 4 (5 vs. 4) Cannot use legacy accessors on Blobs with > 4 axes.
*** Check failure stack trace: ***
    @     0x7f0be45ab5cd  google::LogMessage::Fail()
    @     0x7f0be45ad433  google::LogMessage::SendToLog()
    @     0x7f0be45ab15b  google::LogMessage::Flush()
    @     0x7f0be45ade1e  google::LogMessageFatal::~LogMessageFata

[2018-07-08 11:09] Huangying-Zhan commented on #14
Hi @hyaihjq, could you provide more details about this error? It seems the number of axes is not correct but I don't know which layer caused this problem.

[2018-07-10 11:40] hyaihjq commented on #14
don‘t  add the file "filter.hpp" into caffe, can successfully complete the caffe’compilation. but add the file "filter.hpp" into caffe encounter this error.

[2018-07-10 11:41] hyaihjq commented on #14
but don‘t add the file "filter.hpp" into caffe, i can‘t train the code

[2018-07-10 15:59] hyaihjq commented on #14
src/caffe/test/test_filler.cpp:524: Failure
The difference between expected_value and actual_value is 0.078125, which exceeds 0.01, where
expected_value evaluates to 0.0625,
actual_value evaluates to 0.140625, and
0.01 evaluates to 0.01.
[  FAILED  ] BilinearFillerTest/0.TestFillOdd, where TypeParam = float (44368 ms

[2018-07-12 02:39] Huangying-Zhan commented on #14
If the problem is with filler.hpp. You can just add the part related to "EdgeX" and "EdgeY" into your original filler.hpp.

[2018-07-12 15:33] hyaihjq commented on #14
i have solved this problem，the new version caffe‘s filler.hpp have some changed. thanks for your help!!!

[2018-07-12 15:33] #14 closed

[2018-07-13 02:05] Huangying-Zhan commented on #14
@hyaihjq, I see. Could you share the solution that you solve this problem in case other users have the same problem in the future? Thank you!

[2018-07-14 15:09] hyaihjq commented on #14
download this caffe old version “https://github.com/BVLC/caffe/releases/tag/1.0”

[2018-07-14 15:10] hyaihjq commented on #14
or adopt your suggest "You can just add the part related to "EdgeX" and "EdgeY" into your original filler.hpp."

[2018-07-15 09:10] liruixl commented on #4
@xiongdemao Hello, can you tell me what is the reason? I also meet it. Thanks! memedaa

[2018-07-16 10:07] Huangying-Zhan commented on #4
@liruixl  I think you can try to print the path of the image. Most likely the path is incorrect

[2018-08-16 07:35] lraxue opened #15 "how to visualize the disparity map"
Could you please tell me how to visualize the 1-channel disparity map as 3-channel color image?

[2018-10-12 18:09] #5 closed

[2018-10-12 18:15] Huangying-Zhan commented on #15
@lraxue Sorry for the late reply! There are different ways to do it in Python (e.g. matplotlib / OpenCV)
If you want to visualize it via matplotlib, here is the way I usually do.
[code]

For cmap, there are many options, please refer to here:
https://matplotlib.org/tutorials/colors/colormaps.html

Hope it helps!

[2018-11-13 00:33] #15 closed

[2018-11-24 03:20] lixiangyu-1008 opened #16 "Disp transform to Depth"
hi，
thank you for your work. I don't use the caffe , so I want to know if I get the disp from the dispnet. how can I get the depth from disp by using the focal and baseline ? and then  I can use the depth to warp.

[2018-11-24 03:31] #16 closed

[2018-11-25 06:26] Huangying-Zhan commented on #16
Hi @lixiangyu-1008, basically the relationship between disparity and depth is `disp = f*B / depth`

[2018-11-27 19:45] amira133 opened #17 "need gpu for running"
hello

I have a question :
Do you need GPU to run your application?
if yes what is min of GPU?

[2018-11-27 23:33] Huangying-Zhan commented on #17
Hi @amira133 , yes, the training requires a GPU. Otherwise, it will take a long time to train with a CPU.
Any GPU with sufficient memory should be fine. The one I am using is GTX1070Ti.

[2018-11-28 04:40] amira133 commented on #17
@Huangying-Zhan I have another question : How much time does it take with your GPU (GTX1070Ti)?

[2018-11-28 23:40] Huangying-Zhan commented on #17
@amira133 For each experiment, it is about 1 day.

[2018-11-29 12:07] #17 closed

[2018-11-30 12:07] lixiangyu-1008 opened #18 "Get wrong Results"
hi
when I use your method for the depth experiment using stereo images pairs. With the train go on , my disparity will go all the dark. Do you know what cause this ?

[2018-11-30 13:42] Huangying-Zhan commented on #18
Hi @lixiangyu-1008, thank you for reporting the issue. I am not sure about the reason at the moment without more information. However, here are some suggestions that you can check for the experiment.

(1) To make it clear, in our experiments, we are predicting `inverse depth map` instead of the `disparity map`.

(2) To ensure a positve prediction (inverse depth), we have a ReLU layer before the fi

[2018-11-30 14:04] lixiangyu-1008 commented on #18
hi @Huangying-Zhan  thank you for replying me in detail. following is my question:
1. Now I am not use the caffe to run your experiment, I use the tensorflow to run your work. Most of the code are git from others work like you.

2.So I want to know the differences between the **disparity map** and **inverse depth map** , I just use the disparity output from the normal encoder and decoder dispnetwo

[2018-11-30 15:36] amira133 commented on #17
thanks

[2018-12-03 07:20] Huangying-Zhan commented on #18
Hi @lixiangyu-1008,
(1) The difference between inverse_depth and disparity
`inverse_depth = 1.0/depth`
`dispairty = fx*Baseline/depth`, which you can check from most stereo matching tutorial. e.g. https://courses.cs.washington.edu/courses/cse455/09wi/Lects/lect16.pdf slide 10-14

(2) Disparity map becomes dark.
If you are predicting disparity map, to get the depth, you should use `fx*baseline/disp

[2018-12-03 07:51] lixiangyu-1008 commented on #18
Hi @Huangying-Zhan , thanks for reply!

1. The warp formula I used is:
**p(R,t2) = K * Tl->R * DL,t2(pL,t2) K^-1 * pL,t2**  which is  the formula (4) in your paper.
then using  differentiable bilinear interpolation to warp the reference image.

2. the source image I define is  **p(R,t2)**  , the reference image is **pL,t2** .  the Network I used is an encoder-decoder dispNet , the input is the **p

[2018-12-03 23:24] Huangying-Zhan commented on #18
It looks correct to me for the process. I am not sure about the problems you are encountering.
Here are some suggestions that I will try in order to find the bug.

(1) Non-linearity for the prediction
Since you said the prediction goes to all-zero, I would assume you have a non-linearity layer at the end of network. If you have non-linearity (e.g. ReLU) at the last layer for prediction, try to rem

[2018-12-04 03:32] lixiangyu-1008 commented on #18
Hi @Huangying-Zhan:
thanks you very much for replying , I will have a try as you said!

[2018-12-06 02:00] lixiangyu-1008 commented on #18
hi @Huangying-Zhan :
when I get the out **inverse depth** , then I use it to evaluate the depth . but the results is :

Abs Rel | Sq Rel | RMSE | RMSE log | D1-all | <1.25 | <1.25^2 | <1.25^3
0.9995 | 16.1915 | 20.024 | 7.674 | 100.000 | 0.000 | 0.000 | 0.000

when I check the depth image of the result , I found the result shouldn't be so bad.

[2018-12-06 07:18] Huangying-Zhan commented on #18
Hi @lixiangyu-1008, for the evaluation, if you are running stereo training experiment, I believe it is an issue of conversion between your prediction and depth.  Considering that you are running other software and this is not really an issue of the released code. I would suggest discussing the problem via email instead of this issue page.
Could you reach me via my university email (huangying.zhan@

[2018-12-06 07:18] #18 closed

[2018-12-07 04:40] FatEvilCat opened #19 "doubts on the odometry"
Hello Zhan
Here I have some problems.In your paper,you just use the cnn to get the two-view odometry.
How to get the result like Figure.3? Does it use the tool on the https://vision.in.tum.de/data/datasets/rgbd-dataset/tools? But they use the txtytz qxqyqzqw as input.
And I am the beginner of learning this area, so could you share codes to do these transformation,such as accumulate all timestamps

[2018-12-07 05:18] Huangying-Zhan commented on #19
Hi @FatEvilCat, we convert our predicted pose as transformation matrix and saved the matrix.
To get the full trajectory, basically we want to get a sequence of `T_0->0, T_1->0, T_2->0, ...`.
To get the transformations, here is one example,
e.g. `T_2->0 = T_1->0 * T_2->1`, where `T_2->1` is the relative pose between two-view (our prediction). For each pose matrix, it represents the transformation f

[2018-12-07 05:44] FatEvilCat commented on #19
@Huangying-Zhan Thanks for your reply. It is so detailed that I can easily understand it. But the code for plotting is the same as the other link.  And I find in your paper in Figure.3 , you also draw the path of Zhou.His result uses the 5 continuous images as input and his output is not the 4*4 matrix. Do you use the same way to visualize the path?

[2018-12-07 23:27] Huangying-Zhan commented on #19
@FatEvilCat , thanks for pointing out the linking issue (copy and paste issue...). I have fixed the link.
For the result of Zhou et al., similarly, I convert their predictions to be 4*4 matrix and accumulate the results. However, there is one more step in getting their full trajectory. In their prediction, there is scaling ambiguity. Therefore, I optimized the scaling factor for their predictions

[2018-12-11 08:46] FatEvilCat commented on #19
@Huangying-Zhan  👍  I have already read your paper, but here are some details I can't understand. In the section 3.3 and 4.3, what is the feature?  In the section 4.3, you called it image descriptor. Is it the similar stuff in the orbslam to find the the relationships in the nearby image?

[2018-12-12 00:06] Huangying-Zhan commented on #19
Hi @FatEvilCat , thank you for the interest in our work. Concerning the features, there are different features we have tried in our experiments, including features from the depth network, imagenet low-level features, features proposed in [this paper](https://arxiv.org/abs/1711.05919), and the unsupervised version of that. All these features are dense features since we want to do feature warping. O

[2018-12-13 09:25] FatEvilCat commented on #19
@Huangying-Zhan So kind of you.Maybe it is just like the feature map to some extent?
Here is another question.I just try to visualize the path, but I find that the path can't be so straight and thin like yours in the Figure.3. Is there any pre-process I should do?
Here is the result of zhou Seq.09
![screenshot from 2018-12-13 17-23-48](https://user-images.githubusercontent.com/29449761/49928794-e6

[2018-12-13 11:22] Sunshinehualong opened #20 "when I run evaluation_tools.py to generate_depth_npy, has error"target_blobs.size() == source_layer.blobs_size() (5 vs. 3) Incompat ible number of blobs for layer bn_1""
when I run evaluation_tools.py to generate_depth_npy,
has error"target_blobs.size() == source_layer.blobs_size() (5 vs. 3)
 Incompatible number of blobs for layer bn_1"

so I commented all the "BatchNorm" layer of depth_deploy.prototxt, the python code can run ,but the depth maps error

![2018-12-13 19 21 55](https://user-images.githubusercontent.com/26672004/49935582-5d9c1280-ff0c-11e8-9f92-1dfdf

[2018-12-14 03:11] Huangying-Zhan commented on #19
Hi @FatEvilCat , I guess that you concatenated all the snippets and plot the trajectories. However, one thing needs to be noticed is that the snippets are overlapped, which means, e.g.
snippet-1: frame [0,1,2,3,4]
snippet-2: frame [1,2,3,4,5]
snippet-3: frame [2,3,4,5,6]
...
I am not sure if that's the reason causing the result you got. If that's what you did, try to concatenate the pose for each

[2018-12-14 03:18] Huangying-Zhan commented on #20
Hi @Sunshinehualong, I am not sure about the reason at the moment. Could you give more information? Could you also check the shape of your input data?

[2018-12-14 08:28] lvhualong commented on #20
At first, I thought there was something wrong with my input data ,
 but later I changed it to KITTI image for  test, and it's still this case.

I saw the file of experiments//experiments/depth/train.prototxt , all the  BatchNorm layer with use_global_stats: false

![image](https://user-images.githubusercontent.com/26672004/49991353-c55d6680-ffbb-11e8-9aad-7001666ad183.png)

while the file experime

[2018-12-14 08:31] lvhualong commented on #20
Here are my test results when remove all the BatchNorm layer of networks/depth_deploy.prototxt

![output_0](https://user-images.githubusercontent.com/26672004/49991952-9811b800-ffbd-11e8-977f-d91ba7709fe6.png)
![output_1](https://user-images.githubusercontent.com/26672004/49991953-9811b800-ffbd-11e8-9df2-c8e836fd82f0.png)

[2018-12-15 02:20] Huangying-Zhan commented on #20
Hi @Sunshinehualong , I use BN in the training time. For BN layer, usually, we set `use_global_stats` to be `False` in  training time so it only uses batch statistics. During training, BN layer also compute global statistics and the global statistics are used in testing time, so you see that `use_global_stats` is `True` in the deploy.prototxt.

Please check the following issue.
https://devtalk.nvi

[2018-12-15 09:20] UltronAI opened #21 "No register converter error occured when running the Python Layer('SE3') in odometry_deploy.prototxt"
Error info:

Traceback (most recent call last):
    File "compare.py", line 110, in main
        odom_net.forward()
    File "/home/gaof/caffe-dev/python/caffe/pycaffe.py", line 121, in _Net_forward
        self._forward(start_ind, end_ind)
    File "/home/gaof/caffe-dev/python/pygeometry.py", line 33, in forward
        self.uw = bottom[0].data[:,:3]
TypeError: No registered converter was able to

[2018-12-16 05:51] Huangying-Zhan commented on #21
Hi @UltronAI , I didn't encounter this problem before.
Here are a few things you may check.
(1) Have you enabled Python layer in your Makefile.config?
(2) Could you check the input data `bottom[0].data[:,:3]` to ensure it is has the correct format/shape?

[2018-12-17 11:03] UltronAI commented on #21
Thanks for your prompt reply. @Huangying-Zhan
I have enabled Python Layer in Makefile.config, and this error occurred when calling `bottom[0].data`.
Some issues in other github repos said that it's related to boost. My boost version is 1.58 on ubuntu16.04, which should be right in my opinion...
I don't know why I can't run Python Layer ...

[2018-12-20 13:48] xiaomaicha opened #22 "pretrained model in dropbox can't download"
Thank you for your code, I want to use your pre-training model to test some results, I entered the Dropbox page to download the model, but I can't download it.Maybe there is something wrong with the website. Do you have other addresses for storing the model, such as Google Cloud Drive, thank you very much!

![image](https://user-images.githubusercontent.com/31534343/50288229-46c36600-04a0-11e9-9a9

[2018-12-20 23:22] Huangying-Zhan commented on #22
Hi @xiaomaicha , I just tried again and it can be downloaded. Could you provide more information about the issue? If you click on the file, can you see this page?
![image](https://user-images.githubusercontent.com/13748721/50316302-fbdc3980-0505-11e9-8333-195fdf044543.png)

[2018-12-21 01:33] xiaomaicha commented on #22
I can access this page and click on download, and then I've been waiting for the connection, and then there's no response. Perhaps the use of Dropbox in China is limited during this period? I'd like to use  temporal.caffemodel in odometry_split. Could you please send  this model to my mail 240191740@qq.com? Thank you very much!

![image](https://user-images.githubusercontent.com/31534343/50319615-

[2019-01-04 00:21] Huangying-Zhan commented on #21
Hi @UltronAI, have you solved the problem?

[2019-01-04 00:23] Huangying-Zhan commented on #22
Hi @xiaomaicha , I tried to send it via email but the file is too large and it didn't work. I have uploaded the model to BaiduPan. Please check the following link and let me know if you can download the model.
https://pan.baidu.com/s/1ssuHdQZX39RRMVfO7BEvpA

[2019-01-05 14:47] xiaomaicha commented on #22
Yes, I can download it. Thank you very much！

[2019-01-05 14:48] xiaomaicha commented on #22
Yes, I can download it. Thank you very much！

[2019-01-05 14:48] #22 closed

[2019-01-08 13:14] UltronAI commented on #21
@Huangying-Zhan Yes, I reinstall the caffe and Python layer can work well now. But I still don't know where the error is.

[2019-01-18 03:53] UltronAI commented on #21
Not solved. If someone has the same problem, please reopen this issue and tell me how to solve it.

[2019-01-18 03:53] #21 closed

[2019-01-18 15:05] #19 closed

[2019-03-16 04:21] lixiangyu-1008 opened #23 "Something Wrong with the odometry result."
hi @Huangying-Zhan
thanks for your work!
when I the run odometry results you released, the ORB-SLAM odometry plot track path was wrong with the Ground Truth.
![sequence_10](https://user-images.githubusercontent.com/33485373/54470635-2af10700-47e6-11e9-9b17-ab011e0531ef.png)
Do you know why?

[2019-03-16 12:25] Huangying-Zhan commented on #23
Hi @lixiangyu-1008 , the first ~30 frames are used for initialization in ORB-SLAM so you can found that the first ~30 poses are missing there. You need to align the poses after that with the GT or ignore GT's first ~30  poses.

[2019-03-17 04:52] lixiangyu-1008 commented on #23
hi @Huangying-Zhan thanks for replying!

1. I try to do as you said to “ignore GT's first ~30 poses”， I delete the first ~30 lines poses of GT Poses.txt and then plot the path, the Seq10 path is also the same as the previous, it seems nothing change, maybe I misunderstanding you said?

2. Another suggestions you said **You need to align the poses after that with the GT**, I don't how to  align the

[2019-03-17 23:56] Huangying-Zhan commented on #23
1. after ignoring GT's first 30 poses, I think you need to transform your GT poses w.r.t 31st pose (i.e. make 31st pose is the initial pose in both ORB-SLAM & GT)
2. use GT's 31st pose as the initial pose for ORB-SLAM and transform ORB-SLAM poses.

[2019-03-19 03:25] lixiangyu-1008 commented on #23
@Huangying-Zhan

1. Thanks for your answer, I transform the GT's 31st pose as the initial pose,and then the plot path was right as you paper.

2.Another question why you said  **trying (1) will be fair in the evaluation.**, you means transform the GT's pose will be fair?

[2019-03-19 06:20] Huangying-Zhan commented on #23
@lixiangyu-1008 sorry about that, I made a wrong statement. Both approaches are fair as long as you evaluate the result since 31st pose.

[2019-03-19 06:21] #23 closed

[2019-04-06 00:56] Huangying-Zhan commented on #20
Closed because of no update.
Open when there is a further update.

[2019-04-06 00:56] #20 closed

[2019-04-18 13:42] kourong opened #24 "F0418 21:31:37.329504 11665 image_data_layer.cpp:49] Check failed: !lines_.empty() File is empty"

[2019-04-19 01:36] Huangying-Zhan commented on #24
Hi @kourong, could you provide more detail about the error?
Also, could you double check the training set you are using? Are you providing a correct path of the txt file?

[2019-04-19 03:27] kourong commented on #24
hello,when i run steo 3 bash ./expriments/depth/train.sh,i get a error

![WechatIMG169](https://user-images.githubusercontent.com/34885093/56403863-f2859280-6295-11e9-892a-d2328561f983.png)
can you help me ?

[2019-04-19 03:51] Huangying-Zhan commented on #24
could you check `./data/dataset/kitti_eigen/train_left_1.txt` to see if the file is there and also the file is not empty?

[2019-04-20 04:08] #24 closed

[2019-04-20 04:15] kourong commented on #24
@Huangying-Zhan  Thank you ，I have solved the above problem，but there are new problems，can you help me ?
And --gpu:command not found ,why? I am using a gpu machine
![Screenshot from 2019-04-20 12-06-23](https://user-images.githubusercontent.com/34885093/56452634-b457a400-6365-11e9-83d8-5580532f9ab8.png)

[2019-04-22 10:12] kourong opened #25 "Hello,when i run ./experiments/depth/train.sh ,it occur a error : no module named pygeometry,but i try import geometry,it works.And i am sure i install PyGeometry module"

[2019-04-28 01:32] Huangying-Zhan commented on #25
Can you try to include `caffe/python` in your PYTHONPATH?

[2019-05-05 06:21] kourong commented on #25
Yes,I include caffe/python in my ~/.bashrc,but it's doesn't work.
![Screenshot from 2019-05-05 14-18-16](https://user-images.githubusercontent.com/34885093/57189407-050ff500-6f41-11e9-84a0-dd9d749d6490.png)

[2019-05-31 11:47] lixiangyu-1008 opened #26 "Questions about "Differentiable geometry modules""
hi @Huangying-Zhan
Thanks your works. I have some questions about the "Differentiable geometry modules“ in your paper and code.

1.  The coordinate projection process formulated as P(L,t1) = K*T(t2->t1)*D(L,t2)*K^-1*p(L,t2), It means the estimated pose is from the t2 to t1 as the input images stack order is I1, I2 ?  As your code for evaluating the whole sequence 09 and 10. The input  queue should

[2019-06-02 10:42] Huangying-Zhan commented on #26
HI @lixiangyu-1008 ,

(1) The order of image stack (I1+I2 or I2+I1) is not related to the direction of the relative pose. We WANT the estimated pose to be from (t2->t1) and it is constrained by the layers after pose estimation. To summarize, the input is (I1+I2 or I2+I1) doesn't matter but we choose I1+I2. The estimated pose is from (t2->t1). The reason is explained below.

(2) In the warping proc

[2019-06-03 10:09] lixiangyu-1008 commented on #26
Hi @Huangying-Zhan
Thanks for your replying!
(1) the function  "getPredPoses" in evaluation_tools.py :
img1_path = seq_path + "/image_02/data/{:010}.png".format(idx)
img2_path = seq_path + "/image_02/data/{:010}.png".format(idx+1)
img1 = self.getImage(img1_path)
img2 = self.getImage(img2_path)
self.odom_net.blobs['imgs'].data[0,:3] = img2
self.odom_net.blobs['imgs'].data[0,3:] = img1

so why the i

[2019-06-04 21:53] Huangying-Zhan commented on #26
@lixiangyu-1008
(1) Sorry, my mistake. We chose img2+img1. As I mentioned, the order of concatenation shouldn't matter that much.
In the evaluation code, I just follow the fashion of training code, which can be found here.
https://github.com/Huangying-Zhan/Depth-VO-Feat/blob/master/experiments/depth_odometry/train.prototxt#L93

(2) No. `D(t)K^-1p(t)` this part gives the 3D coordinates of the point

[2019-06-05 03:55] lixiangyu-1008 commented on #26
@Huangying-Zhan
Thanks, I understand the warping process.
However, In the evaluation code, as you describe, you will get the estimated relative pose (1->0), (2->1), (3->2),...   then use these poses to be evaluated in KITTI odometry benchmark?
It seems that these are backward poses?

[2019-06-05 05:06] Huangying-Zhan commented on #26
Yes. you are right. I have mentioned the reason before. It is about getting better warping loss.

In the evaluation of the trajectory, I convert the relative poses to absolute camera pose w.r.t to frame 0.
Please check the following line.
https://github.com/Huangying-Zhan/Depth-VO-Feat/blob/master/tools/evaluation_tools.py#L168

[2019-06-05 05:10] lixiangyu-1008 commented on #26
Thank you， So when we convert the relative poses (1->0), (2->1), (3->2) to absolute camera pose w.r.t to frame 0.
We should first  convert the relative poses (1->0), (2->1), (3->2) to  (0->1), (1->2), (2->3)? or  just use the (1->0), (2->1), (3->2)?

[2019-06-05 06:18] Huangying-Zhan commented on #26
Both are ok, depending on how you compute the pose.
For example, if I want to get `T(3->0)=T_03`, `T_03=T_01 * T_12 * T_23`, in which I use (1->0), (2->1), (3->2).

If you want to use  (0->1), (1->2), (2->3), you can calculate `T_03 = inv(T_32 * T_21 * T_10)`
Just a matter of inverse and multiplication order.

[2019-06-05 06:36] lixiangyu-1008 commented on #26
Thank you very much for your patient reply! I already understand what you mean!

[2019-06-05 06:37] #26 closed

[2019-07-07 23:02] sunnyHelen opened #27 "about trajectories plot"
It's so kind of you to provide not only your pose result but also other methods' result, like ORBslam.
![image](https://user-images.githubusercontent.com/28101548/60774905-8280fd00-a15e-11e9-941b-2a49038708b0.png)
I notice that you compare the result of SfMlearner's result. Could you please upload a file of it?

[2019-07-08 05:30] Huangying-Zhan commented on #27
Hi @sunnyHelen , unfortunately, I have lost the original SfMlearner result and the code generating the result (maybe during a system upgrade or still existing somewhere in my PC).
There are some people asked for it and I couldn't find it.
However, I have re-written a new code and generated a new result for it.
Please check the dropbox. The new result should be there.

Also, the code is available h

[2019-07-08 06:19] sunnyHelen commented on #27
Thanks a million!

[2019-07-08 07:45] #27 closed

[2019-07-08 07:46] #25 closed

[2019-07-21 14:51] bbbrian94 opened #28 "For the rmse of odom result"
After reading your paper's experiment part, I updated the data_builder(which include only 00-08's 19600 pairs of images) and retrain the both part of Depth and Depth+Odom. Finally, my trained model got some huge difference from your Temporal.model.
"
Sequence: 9
Average translational RMSE (%):  18.29599141944674
Average rotational error (deg/100m):  6.84948743104451
Sequence: 10
Average translatio

[2019-07-23 06:23] Huangying-Zhan commented on #28
@bbbrian94 Thanks for your interest in our work.
I am not sure about the cause of the huge difference you got. However, I am happy to discuss and help.

(1) is your "Baseline.caffemodel" trained by the seq00-09 or trained by raw data's 23455 pairs?
Depends on the evaluation task, for depth estimation evaluation, I used raw data (i.e. eigen split) to train the network.
For odometry evaluation, I us

[2019-07-23 14:29] bbbrian94 commented on #28
Really appreciate for your reply!

For the second part, I mean, from your given trained model Baseline.caffemodel (I guess you got this by using 23455 raw data), Can i train my own Temporal model based on sequence odom split (using 19600's data)? Based on your paper, I may not do that. the result I post here is based on depth training on raw data, then I train once again on Odom split data to get

[2019-07-24 01:52] Huangying-Zhan commented on #28
For the released model, I didn't release Baseline (Odom split) since it is not for odometry evaluation. I have uploaded the Baseline model trained from Odom split. Please check the dropbox.

your given Baseline model in the eigen split repo is trained by raw data, right? Your given Temporal model in odom split is trained based on Odom split's baseline model + odom split data, right?
Yes, models in

[2019-07-24 15:42] bbbrian94 commented on #28
Thanks a lot for that baseline model!

Just the last Question before I close this issue. your data builder for the odom split and the eigen split is very similar. The only difference is at the data input, one is raw data, another is sequence data, right? and all the prototxt for training is also same, right? the learning rate is still at 0.001 but not T.Zhou's 0.0002, right?

[2019-08-04 13:56] bbbrian94 opened #29 "still cannot repeat your experiment, please help!"
Thank you again for your new provided model.

What make me confuse is:

I have been working on the new baseline model of odom split you've been uploaded. from that point, with exact same train and solver you provided here for eigen_split, the result still not very good such as 26 for rmse, 9 for rot error/100m on Kitti sequence data series 9.

_Originally posted by @bbbrian94 in https://github.com

[2019-08-04 14:00] #28 closed

[2019-08-04 14:50] bbbrian94 commented on #29
probably my Dataset generator for KITTI Odometry split is wrong? would you like to provide that part?

[2019-08-05 02:22] babyfisher opened #30 "Training on odometry split"
Hi Zhan,
Can I use the given solver.prototxt for both Eigen-split based training and Odom-split based training? Is there any difference between them in terms of training parameters?

[2019-08-05 02:33] babyfisher commented on #30
Would you like to share the part of kitti-sequence data preparation as well? (as you mentioned in your to-do list). Thank you in advance.

[2019-08-05 06:16] Huangying-Zhan commented on #29
Hi @bbbrian94 , sorry for the late reply.
Referring to your previous question about the learning rate, as mentioned in the paper, we adjust the learning rate manually after seeing the loss is converged.
After checking my experiments log for Temporal experiment, I use 1e-3 for finetuning Baseline model for 200k iter and then use 1e-4 for another 100k iter. Sorry for not making it clear enough befor

[2019-08-05 06:18] Huangying-Zhan commented on #30
Hi @babyfisher, yes, I am happy to share but sorry that I was busy with other projects. I will try my best to share it soon.

[2019-08-05 07:20] Huangying-Zhan commented on #29
Hi @bbbrian94 , I just added my previous odom dataset builder into the current project. I did a simple test and it seems works fine. Please check if it works for you.
Please check this temporary branch.
https://github.com/Huangying-Zhan/Depth-VO-Feat/blob/kitti_odom_builder/data/dataset_builder.py

[2019-08-05 07:20] Huangying-Zhan commented on #30
Hi, I just added my previous odometry dataset builder into the current project. I did a simple test and it seems works fine. Please check if it works for you.
Please check this temporary branch.
https://github.com/Huangying-Zhan/Depth-VO-Feat/blob/kitti_odom_builder/data/dataset_builder.py

[2019-08-05 13:35] bbbrian94 commented on #29
Wow! Let me try. Thank you for your help!

[2019-08-05 16:10] babyfisher commented on #30
@Huangying-Zhan Thank you for your help!

[2019-08-05 16:10] #30 closed

[2019-08-06 12:29] bbbrian94 commented on #29
After I take your retrain step the result do become better, but still not very close to yours. the result is like below:

Sequence: 9
Average translational RMSE (%):  17.654958499450835
Average rotational error (deg/100m):  6.814821872909047
Sequence: 10
Average translational RMSE (%):  17.604867216912844
Average rotational error (deg/100m):  5.685002371454657

So the stepsize is still 80k instead

[2019-08-08 00:34] Huangying-Zhan commented on #29
For the data_builder for odometry split, it is my mistake. You should uncomment them for usage.
The reason it was commented is that when I was testing the code before uploading, I don't have Caffe installed in my current PC. I commented these lines and also "import caffe" during testing. I uncomment import caffe afterward but forget to uncomment the other lines.
Thanks for pointing out, I will upd

[2019-08-08 01:25] brianshu commented on #29
I've tried with the first one already by my self "maybe you can try with 1e-4 for 200k" yesterday. I found that one help not very much. and I just wanna make sure that the graph below is the right/similar one as your intermediate result of after finetune the baseline model  for 200K.

[2019-08-08 01:30] bbbrian94 commented on #29
I've tried with the first one already by my self "maybe you can try with 1e-4 for 200k" yesterday. I found that one help not very much. and I just want to make sure that the graph below is the right/similar one as your intermediate result of after finetune the baseline model for 200K.
[sequence_09.pdf](https://github.com/Huangying-Zhan/Depth-VO-Feat/files/3479448/sequence_09.pdf)
[sequence_10.pdf]

[2019-08-08 05:22] Huangying-Zhan commented on #29
It doesn't look exactly similar to mine. Here are the results I got for finetuning the baseline model for 200K (first finetuning)
![image](https://user-images.githubusercontent.com/13748721/62676769-19093e00-b9eb-11e9-9774-7871c52f1676.png)
![image](https://user-images.githubusercontent.com/13748721/62676776-21fa0f80-b9eb-11e9-8080-91266bd87741.png)
The quantitative result for these two are:
seq |

[2019-08-31 18:43] #29 closed

[2019-10-08 12:20] lixiangyu-1008 opened #31 "Align the unsupervised methods results"
hi @Huangying-Zhan

I have a question about how to align the results from sfmlearner with ground truth?
1) first, the result produce by sfmlearner are 5-frames, and all the pose ares relative to the middle frame, so you said in your paper that you align every 5 frames independently?
2) could you share your code how to align with GT?

[2019-10-09 08:32] Huangying-Zhan commented on #31
Hi @lixiangyu-1008 , I have released the tool that I used for converting sfmlearner result from 5-frames to a whole trajectory.
There are many ways to concatenate the predictions to form a whole trajectory and here is just one of the ways.
please check the following link.
https://github.com/Huangying-Zhan/Depth-VO-Feat/tree/master/tools/sfmlearner_odometry_tool

For visualizing sfmlearner result,

[2019-10-10 15:40] lixiangyu-1008 commented on #31
hi @Huangying-Zhan

Thanks for you reply.
I will have a try!

[2019-10-11 09:28] lixiangyu-1008 commented on #31
@Huangying-Zhan

could please share the pose results of sfmlearner？ Since the website of download link can not surf.
my email: lixiangyu_1008@163.com
thanks :)

[2019-10-12 02:57] Huangying-Zhan commented on #31
here is the original link
http://people.eecs.berkeley.edu/~tinghuiz/projects/SfMLearner/pose_eval_data.tar

Please let me know if it doesn't work.

[2019-10-12 02:59] lixiangyu-1008 commented on #31
It's work now, maybe yesterday caused by the internet.
thank you!

[2019-10-12 03:08] lixiangyu-1008 commented on #31
hi
I have change the SfMlearner to the full trajectory as you said.
but I use the evaluation code to evaluate the seq.9and 10 .the results are:

Sequence: 9
Average translational RMSE (%):  70.42703633858463
Average rotational error (deg/100m):  30.31412894682484
Sequence: 10
Average translational RMSE (%):  51.7403945088599
Average rotational error (deg/100m):  20.95954803583636
-----------------

[2019-10-13 02:18] Huangying-Zhan commented on #31
Hi, could you post the trajectory plot as well so I can have more clues about the result?

[2019-10-13 03:00] lixiangyu-1008 commented on #31
hi here is the trajectory and results:
**1. solve_global_pose = True:**
Sequence: 9
Average translational RMSE (%):  70.42703633858463
Average rotational error (deg/100m):  30.31412894682484
Sequence: 10
Average translational RMSE (%):  51.7403945088599
Average rotational error (deg/100m):  20.95954803583636
-------------------- For Copying ------------------------------
**trajectory:**
**seq.09:*

[2019-10-13 05:41] Huangying-Zhan commented on #31
I haven't seen something like this before.
If you have modified the tool, could you send me the modified version so I can take a look?

my email: huangying.zhan@adelaide.edu.au

Also, please send me the final trajectory files you got from those setups.

[2019-11-29 13:50] lixiangyu-1008 opened #32 "Results of visual odometry on supplementary material."
Hi @Huangying-Zhan

Do you still have the results of **More Visual Odometry Results** on your supplementary material which is trained on KITTI Eigen and testing on Seq. 00,04,05,07.

Thanks :)

[2019-12-07 11:42] #31 closed

[2020-09-27 01:00] mingleili11 opened #35 "hi how to use this project"
**I want to use this project**

[2020-09-27 01:04] mingleili11 commented on #35
aaa

[2020-09-27 01:06] #35 closed

[2021-01-11 02:00] HuangGuoHui110 opened #36 "Transform relative location to absolute location in SfMLearner"
Hi, as we know, all the predictions in SfMLearner are 5-frame snippets with the format of timestamp tx ty tz qx qy qz qw consistent with the TUM evaluation toolkit. However, the odometry results which you had released are continuous absolute position. How did you convert the relative position to ensure the accuracy of the results?
Thanks!

[2021-01-11 06:12] Huangying-Zhan commented on #36
Hi, please see this script for getting the sfmlearner result.
https://github.com/Huangying-Zhan/Depth-VO-Feat/blob/master/tools/sfmlearner_odometry_tool/get_sfmlearner_result.py

[2021-01-11 07:48] HuangGuoHui110 commented on #36
Thanks for your reply.
 : )

[2021-03-01 06:35] Ha-kki opened #37 "An issue about the compiling of caffe"
Hi:) @Huangying-Zhan
After I added your layers in caffe and compiled it, I found this import error when I ran the bash file **./experiments/depth/train.sh** to training the depth estimation network.

`I0301 14:24:43.756604  3770 layer_factory.hpp:77] Creating layer SE3
Traceback (most recent call last):
  File "/home/myubuntu/anaconda3/envs/caf/caffe/python/pygeometry.py", line 1, in <module>

[2021-04-16 15:56] supercpy commented on #32
Hi @lixiangyu-1008
I have the same problem as you, in seq 09:
![filename](https://user-images.githubusercontent.com/55533395/115051291-3e17b900-9f0f-11eb-89d2-1260efd91a24.png)

 Have you solved this problem ？Thanks